* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f6f6;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

header {
  background-color: #010821;
  padding: 2rem;
  display: flex;
  align-items: center;
  color: #f6f6f6;
  margin-bottom: 1rem;
}

header p {
  font-size: 2.25rem;
  padding: 0 1rem;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
